node_modules/
.pnpm-store/
.next/
dist/
build/
coverage/

.env
.env.*
!.env.example

.DS_Store

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.idea/
.vscode/
